<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rhythm of life</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <meta charset="utf-8">
</head>
<body>
  <div id="app">
    <div class="pagination">
      <h3>
      <ul>        
        <li v-for="(n, index) in Verse"
            v-bind:class="{'disabled': (index > currBar - 1), 'active': (index < currBar - 1)}" 
            @click.prevent="setPage(n)"><a href="#">{{n}}</a></li>
      </ul>
      </h3>
    </div>
    <div class="pagination">
      <ul>
        <li v-bind:class="{'disabled': (currPage === 1)}" 
            @click.prevent="setPage(currPage-1)"><a href="#">Prev</a></li>
        <li v-bind:class="{'disabled': (currPage === totalPage)}" 
            @click.prevent="setPage(currPage+1)"><a href="#">Next</a></li>
        <li v-bind:class="{'disabled': isPlay}" 
            @click.prevent="playBars()"><a href="#">Play</a></li>
        <li v-bind:class="{'disabled': (isPlay === false)}" 
            @click.prevent="pauseBar()"><a href="#">Pause</a></li>
      </ul>
    </div>
    bpm<input :disabled="isPlay" type="number" v-number-only v-model="bpm"/>
  </div>
</body>
</html>
